<html>
  <head>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/download_page.css">
    
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
  </head>
  <body>
    <div class="table_div">
      <div class="row_div">
          <div class="col col_left"> 
            <h2><a href="/">&lt;-Back</a></h2>
            <h1>
              Trinkets, Treasures and Baubles
            </h1> 
            <ul>
              <li data-value-id="angel-desc" class="shake-little desc_key"><a  href="download/angel">Angel's Egg (1985)</a></li>
              <li data-value-id="conan-desc" class="shake-little desc_key"><a  href="download/future_boy">Future Boy Conan (1978)</a></li>
              <li data-value-id="kite-desc" class="shake-little desc_key"><a  href="download/kite">Kite (1998)</a></li>
              <li data-value-id="metro-desc" class="shake-little desc_key"><a  href="download/metropolis">Metropolis (2001)</a></li>
              <li data-value-id="patlabor-desc" class="shake-little desc_key"><a  href="download/patlabor">Patlabor The Movie (1989)</a></li>
              <li data-value-id="patlabor2-desc" class="shake-little desc_key"><a  href="download/patlabor_2">Patlabor 2 (1993)</a></li>
              <li data-value-id="lain-desc" class="shake-little desc_key"><a  href="download/lain">Serial Experiments Lain (1999)</a></li>
              <li data-value-id="summer-desc" class="shake-little desc_key"><a  href="download/summer_wars">Summer Wars (2009)</a></li>
              <li data-value-id="tenchi-desc" class="shake-little desc_key"><a  href="download/tenchi">Tenchi Universe (1995)</a></li>
              <li data-value-id="wicked-desc" class="shake-little desc_key"><a  href="download/wicked_city">Wicked City (1987)</a></li>
            </ul>
          </div>
          <div class="col col_right"> 
            <p id="angel-desc" class="description"> Angel's Egg is an 80's anime OVA about a spooky little girl doing her best to protect an egg from a cold and dangerous world. Come for the vibes not the plot.</p>
            <p id="being-there-desc" class="description">Satire about a man who spends his whole life as a shut-in and then is made to live in the outside world. I still haven't seen it but it's on my list.</p> 
            <p id="dr-z-desc" class="description">This one is <i>Capital C</i> Cinema you guys. A story about how the good intentions of revolution are warped by the agony of living through that revolution.</p>
            <p id="conan-desc" class="description">Did you know that early in his career, Hayao Miyazaki directed an anime series? Well he did and it's really good!</p>
            <p id="hamlet-desc" class="description">Unabriged theatrical film version of Hamlet. I'm not a huge Shakespeare guy, but I really enjoyed it! It's cool to see a Hamlet line-read happening on location at like a legit castle. </p>
            <p id="kajil-desc" class="description">I haven't seen it but it looked really funny! You want to watch it with me?</p>
            <p id="kite-desc" class="description">Beautiful but very graphic anime OVA. Parts of it are explicitly pornographic, watch at your own risk.</p>
            <p id="metro-desc" class="description">A 2001 anime feature film loosely based upon Osamu Tezuka's 1949 manga of the same name. There's a lot of Tezuka in this one.</p>
            <p id="lain-desc" class="description">13 episode anime series about the internet growing a personality I think? Super funky and avant-garde. I love it.</p>
            <p id="patlabor-desc" class="description">Patlabor is an anime feature about cops with gundams. It's also about the troubling militerization of domestic police forces generally.</p>
            <p id="patlabor2-desc" class="description">They made another Patlabor! NGL I fell asleep part through this one but I still like it.</p>
            <p id="summer-desc" class="description">An anime feature by the Digimon guy that is also the most compelling pitch for a metaverse I have yet seen.</p>
            <p id="end-world-desc" class="description">A film by the excellent Wim Wenders. Four and a half hours long! Still haven't seen it.</p>
            <p id="tenchi-desc" class="description">A fun little harem anime from the 90's. Inoffensive and often very funny. I usually hate harem anime but I liked this one a lot.</p>
            <p id="french-desc" class="description">A neo-noir considered by certain smarties-pants to be one of the best films ever made. I still haven't gotten around to it myself. 😅</p>
            <p id="tng-desc" class="description">Aw Man. TNG is like a warm cup of tea in television form. Downright tranquil. I'm giving it a seperate page because each season has a seperate download and I didn't want to muddle this page any more than I already have.</p>
            <p id="-desc" class="description">.</p>
          </div>
      </div>
  </div>
  </body>
  <footer>
    Assembled with love by <a href="https://github.com/kjsuarez/">Kevin Suarez</a>
  </footer>

  <script src="js/index.js"></script>
</html>