<html>
  <head>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/download_page.css">
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
  </head>
  <body>
    <div class="table_div">
      <div class="row_div">
          <div class="col col_left">
            <h2><a href="/">&lt;-Back</a></h2>
            <h1 class="page-desc">
              Books! Mostly Programming Textbooks.
            </h1> 
            <ul>
              <li data-value-id="how-dns-desc" class="shake-little desc_key"><a  href="download/how_dns_works">How DNS Works</a></li>
              <li data-value-id="deadly-desc" class="shake-little desc_key"><a  href="/deadly_class">Deadly Class</a></li>
              <li data-value-id="saga-desc" class="shake-little desc_key"><a  href="/saga">Saga</a></li>
              <li data-value-id="east-desc" class="shake-little desc_key"><a  href="download/east">East Of West</a></li>
              <li data-value-id="invincible-desc" class="shake-little desc_key"><a  href="download/invincible">Invincible</a></li>
              <li data-value-id="external-desc" class="shake-little desc_key"><a target="_blank" href="https://drive.google.com/drive/folders/155DAxrUVCaquDQEB1lFwV4WBKBLUGLJe?usp=sharing">External downloads (Google Drive)</a></li>
            </ul>
          </div>
          <div class="col col_right"> 
            <p id="how-dns-desc" class="description">A super handy zine about DNS.</p> 
            <p id="deadly-desc" class="description">A graphic novel about a school for assassins. Neat!</p>
            <p id="saga-desc" class="description">Fantasy! SciFi! Nudity! This graphic novel has it all!</p> 
            <p id="east-desc" class="description">A Sci-Fi Western set in a dystopian America where all hope for the future rests in the Four Horsemen of the Apocalypse...who just happen to be trying to kill the President of the United States.</p> 
            <p id="invincible-desc" class="description">A very popular inversion of many superhero tropes.</p>
            <p id="external-desc" class="description">Most of my books live on google drive and I couldn't be bothered to download them all.</p>
          </div>
      </div>
  </div>
  </body>
  <footer>
    Assembled with love by <a href="https://github.com/kjsuarez/">Kevin Suarez</a>
  </footer>

  <script src="js/index.js"></script>
</html>