<html>
  <head>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/index.css">
    
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
  </head>
  <body>

    <div class="the-goods">

      <h1 class="head">
        Trinkets, Treasures and Baubles
      </h1>
      <div class="items">
        <div class="item" id="item-1"><a href="/movies">Movies!</a></div>
        <div  class="item" id="item-2"><a href="/anime">Obscure Anime Bullshit!</a></div>
        <div class="item" id="item-3"><a href="/software">Software!</a></div>
        <div class="item" id="item-4"><a href="/books">Books!</a></div>
      </div>
    </div>
  </body>
  <footer>
    Assembled with love by <a href="https://github.com/kjsuarez/">Kevin Suarez</a>
  </footer>

  <script src="js/index.js"></script>
</html>