<html>
  <head>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/download_page.css">
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
  </head>
  <body>
    <div class="table_div">
      <div class="row_div">
          <div class="col col_left">
            <h2><a href="/">&lt;-Back</a></h2>
            <h1 class="page-desc">
              A small assortment of movies avilable for download
            </h1> 
            <ul>
              <li data-value-id="being-there-desc" class="shake-little desc_key"><a  href="download/being_there">Being There (1979)</a></li>
              <li data-value-id="dr-z-desc" class="shake-little desc_key"><a  href="download/doctor_z">Dr. Zhivago (1965)</a></li>
              <li data-value-id="hamlet-desc" class="shake-little desc_key"><a  href="download/hamlet">Hamlet (1996)</a></li>
              <li data-value-id="kajil-desc" class="shake-little desc_key"><a  href="download/kajilion">Kajilionare (2020)</a></li>
              <li data-value-id="tng-desc" class="shake-little desc_key"><a  href="tng">Star Trek: The Next Generation (1987)</a></li>
              <li data-value-id="french-desc" class="shake-little desc_key"><a  href="download/french">The French Connection (1971)</a></li>
              <li data-value-id="end-world-desc" class="shake-little desc_key"><a  href="download/end_of_the_world">Until The End Of The World (1991)</a></li>
            </ul>
          </div>
          <div class="col col_right"> 
            <p id="being-there-desc" class="description">Satire about a man who spends his whole life as a shut-in and then is made to live in the outside world. I still haven't seen it but it's on my list.</p> 
            <p id="dr-z-desc" class="description">This one is <i>Capital C</i> Cinema you guys. A story about how the good intentions of revolution are warped by the agony of living through that revolution.</p>
            <p id="hamlet-desc" class="description">Unabriged theatrical film version of Hamlet. I'm not a huge Shakespeare guy, but I really enjoyed it! It's cool to see a Hamlet line-read happening on location at like a legit castle. </p>
            <p id="kajil-desc" class="description">I haven't seen it but it looked really funny! You want to watch it with me?</p>
            <p id="end-world-desc" class="description">A film by the excellent Wim Wenders. Four and a half hours long! Still haven't seen it.</p>
            <p id="french-desc" class="description">A neo-noir considered by certain smarties-pants to be one of the best films ever made. I still haven't gotten around to it myself. 😅</p>
            <p id="tng-desc" class="description">Aw Man. TNG is like a warm cup of tea in television form. Downright tranquil. I'm giving it a seperate page because each season has a seperate download and I didn't want to muddle this page any more than I already have.</p>
          </div>
      </div>
  </div>
  </body>
  <footer>
    Assembled with love by <a href="https://github.com/kjsuarez/">Kevin Suarez</a>
  </footer>

  <script src="js/index.js"></script>
</html>