<html>
  <head>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/download_page.css">
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
  </head>
  <body>
    <div class="table_div">
      <div class="row_div">
          <div class="col col_left">
            <h2><a href="/">&lt;-Back</a></h2>
            <h1 class="page-desc">
              Want some free software? No malware, promise! 🤞
            </h1> 
            <ul>
              <li data-value-id="aseprite-desc" class="shake-little desc_key"><a  href="download/aseprite">Aseprite</a></li>
              <li data-value-id="vallhalla-desc" class="shake-little desc_key"><a  href="download/vallhalla">VA-11_Hall_A (game)</a></li>
              <li data-value-id="isaac-desc" class="shake-little desc_key"><a  href="download/isaac">The Binding of Isaac (game)</a></li>
              
              <li data-value-id="ftl-desc" class="shake-little desc_key"><a  href="download/ftl">FTL (game)</a></li>
              <li data-value-id="breach-desc" class="shake-little desc_key"><a  href="download/breach">Into the Breach (game)</a></li>
              <li data-value-id="hotline-desc" class="shake-little desc_key"><a  href="download/hotline">Hotline Miami (game)</a></li>
              <li data-value-id="undertale-desc" class="shake-little desc_key"><a  href="download/undertale">Undertale (game)</a></li>

            </ul>
          </div>
          <div class="col col_right"> 
            <p id="aseprite-desc" class="description">Aseprite is an excellent pixelart editor. Can't recommend it enough.</p>
            <p id="vallhalla-desc" class="description">VA-11_Hall_A is a really cool visual-novel-bartender-simulator.</p>
            <p id="isaac-desc" class="description">One of the OG indie roguelikes. This version is quite old, if you like it consider trying one of the many updates.</p>
            
            <p id="ftl-desc" class="description">A roguelike about maintaining a spaceship. I'm underselling it, this is one of my favorite games of all time.</p>
            <p id="breach-desc" class="description">The 2nd project by Subset Games, the makers of FTL. This one's a pocket-sized strategy game about fighting kaiju.</p>
            <p id="hotline-desc" class="description">Mesmorizing top-down ultra violence. It's crazy how quickly you get desensitized.</p>
            <p id="undertale-desc" class="description">The mega-hit indie RPG by Toby Fox. Widly considered the start of a renaissance for the genre.</p>
          
          </div>
      </div>
  </div>
  </body>
  <footer>
    Assembled with love by <a href="https://github.com/kjsuarez/">Kevin Suarez</a>
  </footer>

  <script src="js/index.js"></script>
</html>