<html>
  <head>
    <link rel="stylesheet" href="css/index.css">
    
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
  </head>
  <body>
    <div class="table_div">
      <div class="row_div">
          <div class="col col_left"> 
            <h2><a href="/">&lt;-Back</a></h2>
            <h1>
              Trinkets, Treasures and Baubles
            </h1> 
            <ul>
              <li class="shake-little"><a  href="tng_1">Star Trek the Next Generation Season 1</a></li>
            </ul>
          </div>
        
      </div>
  </div>
  </body>
  <footer>
    Assembled with love by <a href="https://github.com/kjsuarez/">Kevin Suarez</a>
  </footer>

  <script src="js/index.js"></script>
</html>