:root {
  --color-primary: white;
  --link-color: white;
}

html{
  font-family: sans-serif;
  color: var(--link-color);
}

body {
  height: 98%;
  position: relative;
  background-color: black;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40em;
  background-image: url("../assets/background_1_one_third_floyd_dither.png");
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  font-size: 1.3em;
  
}
li {
  width: fit-content;
}

footer {
  position:absolute; bottom:1em;
  padding-top: 1em;
  width: 100%;
  font-size: 1em;
  border-top: 2px solid var(--color-primary);
  text-align: center;
  color: var(--color-primary);
}
